
extends layout

block content

    style.
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            padding: 20px;
        }

        h1 {
            color: #333;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            
            text-align: left;
        }

        th {
            background-color: #4caf50;
            color: white;
            padding: 10px;
        }

        button {
            background-color: red;
            color: white;
            padding: 8px 12px;
            text-decoration: none;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-right: 5px;
        }
        .add-button button{
        background-color: #4caf50;
        border:none;
        padding: 10px 20px;
      }

    h1 All Courses
    
    .add-button
      a(href='/api/addcourses/')
        button Add Course

    table
        thead
        tr
            th Course Name
            th Actions

        tbody
        each course in courses
            tr
            td #{course.name}
            td
                a(href=`/api/courses/${course.id}/edit`) Edit
                | 
                form(action=`/courses/${course.id}/delete`, method='POST')
                button(type='submit') Delete
