extends layout

block content
    h1 Edit Course

    form(action=`/api/courses/${course.id}/edit`, method='POST')
      label(for='name') Course Name:
      input(type='text', name='name', value=course.name, required)

      button(type='submit') Update Course
