
link(rel="stylesheet", href="/css/style.css")

header
 img(src="/path/to/your/logo.png", alt="Logo")
 h1 PRMS - DIT

  // Navigation bar
nav
  ul
    li: a(href="/dashboard") Home
    li: a(href="/profile") Profile
    li: a(href="/requestPr") Request
    li: a(href="/api/courses") Course
    li: a(href="/api/modulles") Module
    li: a(href="/api/students") Student
    li: a(href="/api/lectures") Lecture

block content

footer
  | &copy; 2024 Permission Request Management Information System. All rights reserved.

