body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  nav {
    background-color: #ddd;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  section {
    padding: 20px;
  }
  
  #about-us {
    padding: 20px;
    text-align: center;
  }
  
  #team-picture {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  /* Add more styles as needed */
  